@model WebApiTestApp.Models.ShowModel
@{
    ViewBag.Title = "Show";
}

<h2>Your document uploaded!</h2>
<h3>File name :@Model.FileName</h3>
<h3>Azure uri: @Model.Uri</h3>
<h3>DateTime added: @Model.DateTimeAdded</h3>

